[Desktop Entry]
Type=Application
Version=1.0
Name=The Blind Date
Exec=blinddate
Comment=The Blind Date Game
Icon=blinddate
Terminal=false
Categories=Game;ArcadeGame;
